.heading--1 {
	font-weight: 600;
	font-size: 3rem;
	color: var(--color-grey-dark2);
}
.heading--2 {
	font-weight: 600;
	font-size: 1.8rem;
	color: var(--color-grey-dark2);
}
.heading--3 {
	font-weight: 600;
	font-size: 1.5rem;
	color: var(--color-grey-dark2);
}
.heading--4 {
	font-size: 1rem;
	font-weight: 600;
	color: var(--color-grey-dark1);
}

.heading--blue {
	color: var(--color-primary);
}

.text {
	font-size: 1.4rem;
	color: var(--color-grey-dark2);
}

.text--secondary {
	color: var(--color-secondary);
}
