.btn {
	font: inherit;
	width: fit-content;
	padding: 0.7rem 1.5rem;
	background-color: var(--color-primary);
	color: var(--color-primary-base);
	font-size: 1.4rem;
	border-radius: var(--border-radius-s);
}
